Disease named entity recognition using bidirectional recurrent neural networks

In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm, trange
import unicodedata


from keras.preprocessing.sequence import pad_sequences
from keras.utils import to_categorical
from keras.models import Model, Input
from keras.layers import LSTM, Embedding, Dense, TimeDistributed, Dropout, Bidirectional

In [125]:
#Define constants 
MAX_LENGTH=180 
LSTM_UNITS=120 
BATCH_SIZE=48

In [126]:
#Import train and test datasets
train_data = pd.read_csv("train.csv", encoding="latin1")
test_data = pd.read_csv("test.csv",encoding="latin1")

In [136]:
train_data.head()

   id  Doc_ID  Sent_ID           Word tag
0   1       1        1        Obesity   O
1   2       1        1             in   O
2   3       1        1           Low-   O
3   4       1        1            and   O
4   5       1        1  Middle-Income   O

In [105]:
test_data.head()

        id  Doc_ID  Sent_ID    Word
0  4543834   30001   191283   CCCVA
1  4543835   30001   191283       ,
2  4543836   30001   191283  MANOVA
3  4543837   30001   191283       ,
4  4543838   30001   191283      my

In [106]:
#Check number of unique docs, sentences and words in training data
train_data.nunique()

id         4543833
Doc_ID       30000
Sent_ID     191282
Word        184505
tag              3
dtype: int64

In [107]:
#Check number of unique docs, sentences and words in test data
test_data.nunique()

id         2994463
Doc_ID       20000
Sent_ID     125840
Word        139891
dtype: int64

In [108]:
#Creating dictionaries of unique words and tags
words=list(set(train_data["Word"].append(test_data["Word"]).values)) #removing duplicate entries using set
words.append("ENDPAD")  
tags=list(set(train_data["tag"].values)) 


len_words=len(words)

len_tags=len(tags) 

print("Length of word dictionary: ",len_words)
print("Length of tag dictionary: ",len_tags)

Length of word dictionary:  257203
Length of tag dictionary:  3

In [109]:
#Preprocessing 
#Convert greek characters to ASCII characters
words=[unicodedata.normalize('NFKD',str(w)).encode('ascii','ignore') for w in words]

In [110]:
#Create dictionaries that has all unique words/tags as keys and unique ID as values
word2idx=dict(zip(words,range(1,len_words+1))) 
tag2idx=dict(zip(tags,range(1,len_tags+1)))

In [111]:
dict(list(word2idx.items())[:3])

{b'nan': 1, b'Tatarinow': 2, b'depurated': 3}

In [112]:
dict(list(tag2idx.items())[:3])

{'B-indications': 1, 'O': 2, 'I-indications': 3}

In [144]:
sentences = get_tagged_sentences(train_data) 
print("First 2 sentences in a word list format:\n",sentences[0:2])

NameError: name 'get_tagged_sentences' is not defined

In [98]:
data.head()

   id  Doc_ID  Sent_ID           Word tag
0   1       1        1        Obesity   O
1   2       1        1             in   O
2   3       1        1           Low-   O
3   4       1        1            and   O
4   5       1        1  Middle-Income   O